.card {
    display:flex;
    flex-direction: column;
    background-color: white;
    max-width: 600px;
    padding:30px 50px;
    margin-top: 50px;
    justify-self: center;
}

.card-titles {
    font-weight: bold;
}

.movies {
    margin: 0px 0px 0px 40px
}

.btn-house{
    padding:10px;
    background-color: rgb(39, 37, 37);
    margin:0;
}

.btn-editors{
    background-color: rgb(54, 175, 245);
    color: white;
    border-radius: 10px;
    cursor: pointer;

}

.btn-index {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}